.roundbar {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(4px);

  border-radius: 43px;
}
.navbar {
  width: 100%;
}

.navbar-brand {
  position: fixed;

  margin-top: 3px;
  margin-bottom: 8px;
}
.navbar-brand svg {
  padding: 2px;
}

.navbar-nav {
  display: block;
  color: white;
  margin-left: auto;
  margin-right: 36%;
  /* margin: auto; */
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Spline Sans", sans-serif;
}

.righticons p {
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  background: black;
  border-radius: 33px;
  padding: 7px 30px;
  margin: auto;
  font-weight: 400;
}

.background-img img {
  position: fixed;
  z-index: -50;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-text {
  color: white;
  margin-left: 12%;
}
.quote {
  text-transform: uppercase;
  font-size: 40px;
  width: 30%;
  margin-top: 13.5rem;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 0;
}

.quote span {
  font-weight: 500;
}

.CTA {
  font-size: 19px;
  width: 25%;
  font-weight: 300;
  opacity: 0.7;
  line-height: 25px;
  margin-top: 0.5rem;
  letter-spacing: 0.04em;
}

.Meditate-now {
  text-transform: uppercase;
  font-weight: 450;
  font-size: 20px;
  padding: 10px 70px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: 0.3px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 41px;
}

/* part 2
 */
body {
  margin: 0;
  /* box-sizing: border-box;
  background-color: aquamarine; */
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time-select {
  display: flex;
  flex-direction: column;
}

.time-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.time-button p {
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
}

.time-button img {
  width: 50px;
}
.time-select,
.sounds-select {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.sounds-select button {
  color: white;
  width: fit-content;
  
  background: white;
  font-size: 20px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 20px;
}
.sound11 img {
  padding: 15px;
  width: 100px;
}
.time-select button {
  color: white;
  width: 50%;
  height: 15%;
  background: none;
  font-size: 20px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 20px;
}

.timer {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.timer svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.timer svg circle {
  transition: all 0.2 ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 5%;
}
